version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: mongo-dev
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build:
      context: ./app
      dockerfile: Docker/Dockerfile
    container_name: myapp
    ports:
      - "4000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/mydb
    depends_on:
      - mongo

volumes:
  mongo_data:
