name: Simple CI/CD

on:
  push:
    branches: [main]


jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test || echo "No tests yet"

    - name: Build Docker image
      run: docker build -t myapp:latest .

    - name: Scan image with Trivy
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: myapp:latest
        severity: CRITICAL,HIGH
        exit-code: 1
